# Ignore bin and obj folders in all projects
**/bin/
**/obj/


#extra filter to ignore dll files
**/obj/Debug/net6.0/

# Ignore Visual Studio temporary files and build results
.vs/
*.suo
*.user
*.userosscache
*.rsuser
*.sln.docstates

# Ignore build artifacts and log files
build/
logs/
*.log
