.header {
    font-weight: 600;
    display: flex;
    text-align: start;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 6px;
    padding: 15px;
    
}


.row {
    display: flex;
    text-align: start;
    padding: 2px;
    margin-bottom: 6px;
}

.col-visible 
{
    text-align: center;
}

