@page "/admin/categories"
@* Pq a propriedade se chama Roles e nao Role ?? *@
@* No banco de dados e no AuthService os claim se chama Role e nao Roles !!! *@
@attribute [Authorize(Roles = "Admin")]

<h3>Categories</h3>

@code {

}
