﻿img {
    max-height: 200px;
    max-width: 200px;
}

.row {
    display: flex;
    padding: 6px;
}

.col {
    flex: 1;
}

.header {
    display: flex;
    font-weight: 600;
    text-align: center;
    margin-bottom: 6px;
    padding-bottom: 6px;
}

.col-visible {
    text-align: center;
}

hr{
    height: 0.8px;
}


.custom-buttons {
    padding-bottom: 20px;
    padding-top: 20px;

    button:nth-child(1){
        margin-left: 90%;
    }

    @media (max-width: 1024px) {
        display: flex;
        justify-content: space-between;

        button:nth-child(1) {
            margin-left: unset;
        }

    }
}