.product-container {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

img {
    max-height: 100px;
    max-width: 100px;
}


.add-product-admin {
    float: right;
    margin-right: 150px;
    margin-bottom: 50px;
}

@media (max-width: 640px)
{
    .invisible-mobile
    {
        background-color: red;
        display: none;
    }

}