/* /Pages/Admin/Categories.razor.rz.scp.css */
/* /Pages/Cart.razor.rz.scp.css */
.container[b-8clujmfgb5] {
    display: flex;
    padding: 6px;
}

.image-wrapper[b-8clujmfgb5]{
    width: 150px;
    text-align: center;
}

.image[b-8clujmfgb5]{
    max-width: 150px;
    max-height: 150px;
    padding: 6px;
}

.name[b-8clujmfgb5]{
    flex-grow: 1;
    padding: 6px;
}

.cart-product-price[b-8clujmfgb5]{
    font-weight: 600;
    text-align: right;
}

.btn-delete[b-8clujmfgb5] {
    background: none;
    border: none;
    padding: 0px;
    color: red;
    font-size: 12px;
}

    .btn-delete:hover[b-8clujmfgb5] {
            text-decoration: underline;
    }

.input-quantity[b-8clujmfgb5]{
    width: 70px;
 }
/* /Pages/OrderDetails.razor.rz.scp.css */
.container[b-jiplvgi4f8] {
    display: flex;
    padding: 6px;
}

.image-wrapper[b-jiplvgi4f8] {
    width: 150px;
    text-align: center;
}

.image[b-jiplvgi4f8] {
    max-height: 150px;
    max-width: 150px;
    padding: 6px;
}

.name[b-jiplvgi4f8] {
    flex-grow: 1;
    padding: 6px;
}

.product-price[b-jiplvgi4f8] {
    font-weight: 600;
    text-align: right;
}
/* /Pages/Orders.razor.rz.scp.css */
.container[b-cvsape7x5k] {
    display: flex;
    padding: 6px;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 6px;
    margin-bottom: 10px;
}

.image-wrapper[b-cvsape7x5k] {
    width: 150px;
    text-align: center;
}

.image[b-cvsape7x5k] {
    max-height: 150px;
    max-width: 150px;
    padding: 6px;
}

.details[b-cvsape7x5k] {
    flex-grow: 1;
    padding: 6px;
}

.order-price[b-cvsape7x5k] {
    font-weight: 600;
    font-size: 1.2em;
    text-align: right;
}
/* /Pages/ProductDetails.razor.rz.scp.css */
.media-img[b-z4a77ghc3x] {
    max-height: 500px;
    max-width: 500px;
    border-radius: 6px;
    margin: 0 10px 10px 10px;
}

.media-img-wrapper[b-z4a77ghc3x] {
    max-height: 500px;
    max-width: 500px;
    text-align: center;
}

.original-price[b-z4a77ghc3x] {
    text-decoration: line-through;
}

@media (max-width: 1023.98px) {
    .media[b-z4a77ghc3x] {
        flex-direction: column;
    }

    .media-img[b-z4a77ghc3x] {
        max-width: 300px;
    }

    .media-img-wrapper[b-z4a77ghc3x] {
        width: 100%;
        height: auto;
    }
}
/* /Shared/AdminMenu.razor.rz.scp.css */

/*pq quando eu habilito margin-left no ShopLayout.razor.css, essa propriedade sobrescreve aqui em cima  
do margin-left da tag a ????? */

/* a {
    margin-left: 0px;
    color: red;
}
*/

.dropdown-item:hover[b-i4ljhmxw1x] {
    background-color: white;
}
/* /Shared/CartCounter.razor.rz.scp.css */
.cart-counter[b-voepainw03] {
    margin-left: 0.5em;
}
/* /Shared/FeaturedProducts.razor.rz.scp.css */
.container[b-7rpt1qbx3c] {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: center;
}

img[b-7rpt1qbx3c] {
    max-width: 200px;
    max-height: 200px;
    border-radius: 6px;
    transition: transform .15s;
    margin-bottom: 10px;
}

img:hover[b-7rpt1qbx3c] 
{
    transform: scale(1.3) rotate(5deg);
}

.featured-product[b-7rpt1qbx3c] {
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    max-width: 200px;
}

@media (max-width: 1023.98px) {
    .container[b-7rpt1qbx3c] {
        justify-content: flex-start;
    }
}
/* /Shared/HomeButton.razor.rz.scp.css */
.home-button[b-mejroeu265] {
    white-space: nowrap;
    margin-right: 10px;
    /*transform: rotate(-5deg);*/
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-qw1mbwvvr9] {
    position: relative;
    display: flex;
    flex-direction: column;
}
/*
Esse componente MainLayout inteiro nao serve para nada!! Acho que ele foi substituido pelo ShopLayout. Testar*/
main[b-qw1mbwvvr9] {
    flex: 1;
}

.sidebar[b-qw1mbwvvr9] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-qw1mbwvvr9] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-qw1mbwvvr9]  a, .top-row[b-qw1mbwvvr9]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-qw1mbwvvr9]  a:hover, .top-row[b-qw1mbwvvr9]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-qw1mbwvvr9]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-qw1mbwvvr9] {
        display: none;
    }

    .top-row.auth[b-qw1mbwvvr9] {
        justify-content: space-between;
    }

    .top-row[b-qw1mbwvvr9]  a, .top-row[b-qw1mbwvvr9]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-qw1mbwvvr9] {
        flex-direction: row;
    }

    .sidebar[b-qw1mbwvvr9] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-qw1mbwvvr9] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-qw1mbwvvr9]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-qw1mbwvvr9], article[b-qw1mbwvvr9] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-x0gtuetpak] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-x0gtuetpak] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-x0gtuetpak] {
    font-size: 1.1rem;
}

.oi[b-x0gtuetpak] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-x0gtuetpak] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-x0gtuetpak] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-x0gtuetpak] {
        padding-bottom: 1rem;
    }

    .nav-item[b-x0gtuetpak]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-x0gtuetpak]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-x0gtuetpak]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-x0gtuetpak] {
        display: none;
    }

    .collapse[b-x0gtuetpak] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/ProductList.razor.rz.scp.css */
.media-img[b-s8oi4mw9in] {
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
}

.media-img:hover[b-s8oi4mw9in] {
    transform: scale(1.5);
}

.media-img-wrapper[b-s8oi4mw9in] {
    width: 200px;
    text-align: center;
}

.page-selection[b-s8oi4mw9in]{
    margin-right: 15px;
    margin-bottom: 30px;
}

@media (max-width: 1023.98px) {
    .media[b-s8oi4mw9in] {
        flex-direction: column;
    }

    .media-img-wrapper[b-s8oi4mw9in] {
        width: 100%;
        height: auto;
    }
}
/* /Shared/ShopLayout.razor.rz.scp.css */
.page[b-x0sjsf7dbn] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-x0sjsf7dbn] {
    flex: 1;
}

.nav-menu[b-x0sjsf7dbn] {
    background-image: linear-gradient(180deg, rgb(44, 62, 88) 0%, rgb(52, 73, 94) 70%);
}

.top-row[b-x0sjsf7dbn] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-x0sjsf7dbn]  a, .top-row[b-x0sjsf7dbn]  .btn-link {
        white-space: nowrap;
        /*margin-left: 15rem;*/
        text-decoration: none;
    }

    .top-row[b-x0sjsf7dbn]  a:hover, .top-row[b-x0sjsf7dbn]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-x0sjsf7dbn]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
  
    .top-row.auth[b-x0sjsf7dbn] {
        justify-content: space-between;
    }

    .top-row[b-x0sjsf7dbn]  a, .top-row[b-x0sjsf7dbn]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-x0sjsf7dbn] {
        flex-direction: row;
    }
    .top-row[b-x0sjsf7dbn] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-x0sjsf7dbn]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-x0sjsf7dbn], article[b-x0sjsf7dbn] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/ShopNavMenu.razor.rz.scp.css */
.navbar-toggler[b-c24l1k18xu] {
    color: rgba(255, 255, 255, 0.1);
}

.top-row[b-c24l1k18xu] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-c24l1k18xu] {
    font-size: 1.1rem;
}

.oi[b-c24l1k18xu] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-c24l1k18xu] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

    .nav-item[b-c24l1k18xu]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-c24l1k18xu]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-c24l1k18xu]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.flex-nav[b-c24l1k18xu] {
    flex-direction: column;
}

@media (min-width: 641px) {
    .navbar-toggler[b-c24l1k18xu], .navbar-toggler-wrapper[b-c24l1k18xu] {
        display: none;
    }
    .flex-nav[b-c24l1k18xu] {
        flex-direction: row;
        display: flex;
    }
    .collapse[b-c24l1k18xu] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/UserButton.razor.rz.scp.css */
.show-menu[b-0gxpoyj3ib]{
    display: block;
}

.user-button[b-0gxpoyj3ib]{
    margin-left: .5em;
}

/*Top-row nao esta no componente UserButton. Esta um nivel acima em ShopLayout*/ 
.top-row a[b-0gxpoyj3ib] {
    margin-left: 0;
}

.dropdown-item:hover[b-0gxpoyj3ib] {
    background-color: white;
}
