@inject AuthenticationStateProvider AuthStateProvider
@using System.Security.Claims

@if (isAuthorized)
{
    <a class="dropdown-item admin-link" href="admin/categories">Categories</a>
}

@code {
    bool isAuthorized = false;

    protected override async Task OnInitializedAsync()
    {
        //resumo: token vai dizer se eh admin ou nao. Verificar Claim role
        string role = (await AuthStateProvider.GetAuthenticationStateAsync())
        .User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role).Value;

        if( role.Contains("Admin"))
        {
            isAuthorized = true;
        }
    }
}
