@inject NavigationManager NavigationManager

<button class="btn btn-outline-primary home-button" @onclick="GoToHome">
    My Shop
</button>
    
@code {

    private void GoToHome()
    {   //deveria levar para todos os produtos!!
        NavigationManager.NavigateTo("/");
    }
}
