@inject NavigationManager NavigationManager

<button class="btn btn-outline-primary home-button" onclick="GotoHome">
    My Shop
</button>
    
@code {

    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
