.brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

a {
    color: white;
    text-decoration: unset;
}

.title-application {
    display: block;
    height: 3.5rem;
}

.collapse-mobile-category {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;
}

.expand-mobile-category {
    max-height: 500px;
    overflow: hidden;
    transition: max-height 1s ease-in;
}

.menu-layout {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.item {
    padding: 6px;
}

@media (min-width: 641px) {

    .collapse-mobile-category {
        max-height: unset;
        overflow: unset;
        transition: unset;
    }

    .title-application {
        display: none;
    }

    .collapse-category {
        display: block;
    }

    .menu-layout {
        flex-direction: row;
        height: 58px;
        align-items: center;
    }

    .item {
        padding: 15px;
        width: 10rem;
        text-align: center;
    }

        .item:hover {
            background-image: linear-gradient(180deg, rgba(77, 91, 119, 0.6) 0%, rgba(83, 97, 121, 0.6) 70%);
            outline: 0.3px solid white;
            border-radius: 5px;
            transition: 0.3s;
        }

        .item:hover a {
            transform: scale(1.1);
            display: inline-block;
            transition: transform 0.3s ease;
        }
}
