.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.nav-menu {
    background-image: linear-gradient(180deg, rgb(44, 62, 88) 0%, rgb(52, 73, 94) 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    position: sticky; /*deve ser para todas telas*/
    top: 0;
    z-index: 1;
}

/*talvez precise*/
/*para o mobile. Mantem o conteudo da Main e barra to titulo alinhadas*/
.top-row, article {
    /* padding-left: 2rem !important;
    padding-right: 1.5rem !important;*/
}

/*only cellphone*/
@media (max-width: 641px) 
{
    .page { /* colocar aqui padding da pagina  para mobile*/
        /*background-color: red;*/
    }

 /*   .px-2 {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }*/
}
