@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ICartService CartService

<div class="dropdown">
    <button @onclick="ToggleUserMenu"
            @onfocusout="HideUserMenu"
            class="btn btn-secondary dropdown-toggle user-button">
         <i class="oi oi-person"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right @userMenuCssClass">
        <AuthorizeView>
            <Authorized>
                <a href="profile" class="dropdown-item">Profile</a>
                <a href="orders" class="dropdown-item">Orders</a>
                <AdminMenu />
                <button class="dropdown-item" @onclick="Logout">Logout</button>
            </Authorized>
            <NotAuthorized>
                <a href="login?returnUrl=@NavigationManager.ToBaseRelativePath(NavigationManager.Uri)" class="dropdown-item">
                    Login
                </a>
                <a href="/register" class="dropdown-item">Register</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>

</div>

@code {
    public bool showUserMenu = false;

    public string userMenuCssClass => showUserMenu ? "show-menu" : null; 

    public void ToggleUserMenu()
    {
        showUserMenu = !showUserMenu;
    }

    public async Task HideUserMenu()
    {
        await Task.Delay(200);
        showUserMenu = false;
    }

    private async Task Logout()
    {
        //ao remover o authToken, o metodo GetAuthenticationStateAsync nao vai mais gerar User c/ Identity ??
        await LocalStorageService.RemoveItemAsync("authToken");
        await CartService.GetCartItemsCount();
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("");
    }

    



}
