.show-menu{
    display: block;
}

.user-button{
    margin-left: .5em;
}

/*Top-row nao esta no componente UserButton. Esta um nivel acima em ShopLayout*/ 
.top-row a {
    margin-left: 0;
}

.dropdown-item:hover {
    background-color: white;
    text-decoration: underline;
}
