.media-img[b-14ihqh3g8a] {
    max-height: 500px;
    max-width: 500px;
    border-radius: 6px;
    margin: 0 10px 10px 10px;
}

.media-img-wrapper[b-14ihqh3g8a] {
    max-height: 500px;
    max-width: 500px;
    text-align: center;
}

@media (max-width: 1023.98px) {
    .media[b-14ihqh3g8a] {
        flex-direction: column;
    }

    .media-img[b-14ihqh3g8a] {
        max-width: 300px;
    }

    .media-img-wrapper[b-14ihqh3g8a] {
        width: 100%;
        height: auto;
    }
}
